@import "bootstrap";
@import 'src/scss/_variables.scss';

/*Opcional caso opte por uma imagem de fundo*/
/*
.container{
	background-image: url('../../../assets/img/broken.jpg');   
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}*/

.main{
    width: 100%;
    height: 100vh;
	padding-top: 3rem;
    text-align: center;

	@media(max-width: 700px) and (orientation: landscape){
		padding-top: 0;
	}
}

.header-error{
	font-weight: 500;
	font-family: $economica;
	font-size: 62px;
	color: $orange-soda;
}

.text-error{
	font-size: 18px;
	color: $orange-soda;
}

.btn-outline-orange-soda{
	@include button-outline-variant($orange-soda, #222222, lighten($orange-soda,5%), $orange-soda);
}