/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Família de Fontes
$lato: 'Lato', sans-serif;
$economica: 'Economica', sans-serif;

//Família de Cores
$orange-soda: #DF5B3A;
$white: #fff;
$black: #222;

/*Cores do botão de modo noturno*/
$text-body: #262626;
$sun: #ffd712;
$spanish-gray: #999999; 
