@import '_variables';

*{
    font-family: $lato;
}

html,body{
    height: 100%;
    overflow: hidden;
}

.container{
    min-height: 100%;
}

.theme-dark{
    background-color: $black;
    color: $white;
}